#title{
    background-color: #ff4c68 ;
    color: #fff;

}
body{
    font-family: 'Montserrat';

}

h1{
    font-weight:800;
    font-size: 3.5rem;
    line-height:1.5;
}
h2{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}
h3{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.5rem;
}
p{
    color:#8f8f8f
}

.containor-fluid{
    padding: 3% 15% 7%;
}

/* Navigation Bar  */
.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
}
.nav-item{
    padding:0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-weight:400;
}
.download-btn{
    margin: 5% 3% 5% 0;
}

/* title image  */

.title-img{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    z-index: 0;
    right: 30%;
}

/* features  */

#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative
    ;
    z-index: 1;

}
.feature-box{
    text-align: center;
}

/* icon  */
.icon{
    color:#ef8172;
    margin: 1rem ;
}
.icon:hover{
    color:#ff4c68;
}

/* testoMonial */
#testimonials{

    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.testimonial-img{
    border-radius: 100%;
    width: 15%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    padding-bottom: 3%;
    text-align: center;
}
.press-logos{
    width: 15%;
    margin: 20px 20px 50px;
}


.carousel-item{
    padding : 7% 15%;
}

/* pricing */

#pricing{
    padding: 100px;
    text-align: center;

}
.pricing-col{
    padding: 3% 2%;
}
/* .pricing-btn{
    padding: 3% 100%;
} */



@media (max-width: 1028px){
    #title{
        text-align: center;
    }
    .title-img{
        position:static;
        transform: rotate(0deg);

    }
}


/* call the action (CTA) */

#cta{
    background-color: #ff4c68 ;
    padding: 7% 15%;
    text-align: center;
    
}
#cta h3{
    font-family: "Montserrat";
    font-weight:900;
    font-size: 3rem;
    color: #fff;
}

/* Footer */
#footer{
    padding: 7% 15%;
    text-align: center;
}
.footer-icon{
    
    margin: 20px 10px;
}